/questionnaire.aux
/questionnaire.log
/questionnaire.synctex.gz
/questionnaire.upa
/questionnaire.upb
/questionnaire_en.aux
/questionnaire_en.log
/questionnaire_en.out
/questionnaire_en.synctex.gz
/questionnaire_en.upa
/questionnaire_en.upb
/explic_transport.synctex.gz
/explic_transport.upa
/explic_transport.upb
/questionnaire.out
